[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pastecs"]
	path = pastecs
	url = https://github.com/phgrosjean/pastecs
	shallow = true
	registered = true
