[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "svIDE"]
	path = svIDE
	url = https://github.com/cran/svIDE
[submodule "svTools"]
	path = svTools
	url = https://github.com/cran/svTools
[submodule "svWidgets"]
	path = svWidgets
	url = https://github.com/cran/svWidgets
[submodule "zooimage"]
	path = zooimage
	url = https://github.com/cran/zooimage
